.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eaeaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.cell {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60px;
  margin: auto;
}
.dot1,
.dot4 {
  grid-row-start: 1;
  grid-row-end: 2;
}
.dot2,
.dot5 {
  grid-row-start: 2;
  grid-row-end: 3;
}
.dot3,
.dot6 {
  grid-row-start: 3;
  grid-row-end: 4;
}
